form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tasks div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.tasks p{
    text-align: center;
    opacity: 0.7;
}

.tasks li{
    width: 100%;
    padding: 5px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #535bf2;
}

.tasks button{
    background-color: red;
    border: none;
}

.container{
    display: flex;
    flex-direction: column;
    

}

.container > button{
    width: max-content;
    margin-top: 50px;
margin-inline: auto;
}
